*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

* {
    box-sizing: border-box;
  }
  

body{
    height: 100vh;
}

.icon_S{
    font-size: 14pt;
}
.icon_M{
    font-size: 18pt;
}
.icon_L{
    font-size: 26pt;
}

.pa{
    position: absolute;
}

.pr{
    position: relative;
}

.centgrid{
    display: grid;
    place-items: center;
}

.centflex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sombra{
    box-shadow: 0 0 10px -3px black;
}

.img_fit{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.volver{
    font-size: 30px;
    left: 15px;
    top: 15px;
    height: 30px;
    width: 30px;
    background-color: rgb(209, 201, 201);
    border-radius: 50%;
    backdrop-filter: blur(3px);
    color: black;
}
.volver_menu{
    font-size: 30px;
    left: 15px;
    height: 30px;
    width: 30px;
    background-color: rgb(209, 201, 201);
    border-radius: 50%;
    backdrop-filter: blur(3px);
    color: black;
}

.flex100{
    display: flex;
    justify-content: space-between;
}

.flex101{
    display: flex;
    justify-content: space-between;
}

header{
    height: 70%;
    width: 100%;

    .portada{
        position: relative;
        height: 70%;
        width: 100%;
        background-color: rgb(233, 157, 86);

        .imagen-resto{
            height: 100%;
            width: 100%;
            position: relative;
            background-color:#3b165d;
            background-image: url(../img/restaurante.jpeg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
        }

        .saludo{
            position: absolute;
            bottom: 50px;
            left: 30px;
            height: 100px;
            width: 300px;
         
            display: flex;
            flex-direction: column;
            justify-content: end;
           

            .titulo{
                height: 50px;
                width: 300px;
            }
        }


        .buscador{
            position: absolute;
            height: 40px;
            width: 90%;
            left: 5%;
            background-color: rgb(24, 222, 232);
            bottom: -20px;
            display: flex;
           
            .ubicacion{
                height: 40px;
                width: 40px;
                background-color: rgb(30, 210, 210);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            input[type=search]{
                height: 40px;
                width: calc(100% - 80px);

            }
            input[ type=submit]{
                height: 40px;
                width: 40px;
                background-color: rgb(111, 223, 231);
            }
        }

    }
    .categorias{
        height: 30%;
        width: 100%;
        padding: 5%;
        padding-top: 40px;
        display: flex;
        gap: 40px;
        overflow-y: hidden;
        overflow-x: scroll;

        .item_cat{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 80px;
       

        }
    }
}

main{
    height: auto;
    width: 100%;
    padding: 10px;

 .resultados{
        height: auto;
        background-color:white;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .resto{
            height: 100px;
            width: 100%;
            color: black;
            font-size: 30pt;
            background-color: azure;
            position: relative;
            display: flex;
            
            

            .img-resto{
                background-color: bisque;
                height: 100%;
                width: 50%;
                position: absolute;
                left: 0;
                overflow: hidden;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .datos-resto{
                background-color: bisque;
                height: 100%;
                width: 60%;
                position: absolute;
                right: 0;
                border-bottom-left-radius: 20px;
                box-shadow: 0 0 10px -2px black;
                display: flex;
                flex-direction: column;

                .tit{
                    width: 250px;
                    height: 20px;
                    display: flex;
                    font-size: 20px;
                    flex: 1;
                    padding-left: 2%;
                    color: black;
                
                }
                .iconos-tit{
                    width: 380px;
                    height: 20px;
                    display: flex;
                    font-size: 20px;
                    flex: 1;
                    padding-left: 2%;
                    justify-content: space-between;
                    color: black;
                }
                .secont{
                    width: 250px;
                    height: 20px;
                    display: flex;
                    color: gray;
                    font-size: 20px;
                    flex: 1;
                    padding-left: 2%;
                }
            }
            .puntu-resto{
                position: absolute;
                height: 40px;
                width: 40px;
                background-color: aqua;
                font-size: 22px;
                display: grid;
                place-items: center;
                right: -10px;
                top: -10px;
                border-radius: 10px 0;
            }
        }
    }
}



.header-menu{
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .menuu{
        height: 80px;
        width: 300px;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 20px;
    }
}


.contenedor{
    height: auto;
    width: 100%;
    padding: 10px;

    .resultados{
        height: auto;
        background-color:white;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .resto{
            height: 150px;
            width: 100%;
            color: black;
            font-size: 30pt;
            position: relative;
            display: flex;

            .img.resto{
                background-color: rgb(72, 64, 54);
                height: 150px;
                width: 150px;
                overflow: hidden;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .titulos{
                width: 300px;
                height: 150px;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .primero{
                    width: 200px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                }
                
                .segundo{
                    width: 200px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    color: gray;
                }
            }    
          
       }   
    }   

}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titu{
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
}
.seconts{
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    color: gray;
}

.imagen{
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.resto_imagen{
    height: 40%;
    width: 100%;
    background-color: antiquewhite;

    .resto_precio{
        height: 40px;
        width: auto;
        background-color: aquamarine;
        right: 15px;
        bottom: -15px;
        border-radius: 8px 0;
        padding: 8px;
        font-weight: 700;
    }
}

.resto_desc{
    height: auto;
    min-height: 60%;
    width: 100%;

    padding: 15px;
    padding-top: 30px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

.iconos_menu{
    height: 100px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.resto_menu{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: space-around;
}

.btn_menu{
    color: gray;
    background-color: aliceblue;
    flex: 1;
    text-decoration: none;
    font-weight: bold;
}

.resto_plato{
    height: 40px;
    width: auto;
    background-color: aquamarine;
    right: 15px;
    bottom: -50px;
    border-radius: 8px 0;
    padding: 8px;
    font-weight: 700;
}


@media (orientation: landscape){
    main {
        .resultados{
            flex-direction: row;
            flex-wrap: wrap;

            .resto{
                /* flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%; */
                flex: 0 0 calc(50% - 10px);
                background-color: yellow;
            }
        }
    }
}
 


@media (orientation: landscape){
    .contenedor {
        .resultados{
            flex-direction: row;
            flex-wrap: wrap;

            .resto{
                /* flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%; */
                flex: 0 0 calc(50% - 10px);
              
            }
    }
}
}

