*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/fondocafe.jpg);

}

.letra1{
    font-family: "Playfair Display", serif;

}

img{
    border-radius: 5%;
    object-fit: covers;
    width: 100%;
    height: 100%;
}

.cofe-img{
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;


    .contenedor-img{
        width: 302px;
        height: 322px;
        background-size: cover;
        
    }
}

.contenedor{
    width: 100%;
    height: 410px;

    .titulo{
        width: 100%;
        height: 112px;

        .sub{
            width: 100%;
            height: 44px;
            display: flex;
            font-size: 40px;
            justify-content: center;
            color: #e2e8f0;
        }
    }

    .descripcion{
        width: 100%;
        height: 100px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .chiquito{
            width: 78%;
            height: 100px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    .btn{
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



/* CSS */
.button-81 {
    width:300px ;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Playfair Display", serif;

}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
