footer {
    margin-top: none;
    width: 100%;
    height: 450px;
    background-color: black;
    display: flex;
    flex-direction: row;

    .tres {
        height: 100%;
        width: 34%;
        background-color: #033346;


        .tit {
            display: flex;
            width: 100%;
            height: 20%;
            justify-content: center;
            align-items: center;


            .letra {
                display: flex;
                width: 90%;
                height: 72%;
                border-bottom: 1px solid white;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        .contenedor-cuadrado {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2%;

            .lugar {
                width: 80%;
                height: 13%;
                color: white;
                font-size: 10px;
                display: flex;
                align-items: center;
                border: solid 1px white;


                .iconos {
                    height: 100%;
                    width: 17%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .contenedor-telefono {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;

            .mitad {
                width: 100%;
                height: 30%;
                display: flex;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 11%;
                color: wheat;
            }

            .telefono {
                width: 34%;
                height: 77%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .info_tel {
                    text-align: center;
                }
            }

            span {

                font-size: 38px;
                justify-content: center;
                display: flex;
                color: white;
            }

            div {
                margin-right: 5%;
                font-size: 12px;
                margin-top: 15px;
                justify-content: center;
                display: flex;
                color: white;
                text-align: center;
            }
        }

        .contenedor-nosotros {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .urbana {
                width: 80%;
                height: 20%;
                color: white;
                display: flex;
                font-size: 23px;
            }

            .nosotros {
                width: 100%;
                height: 20%;
                color: white;
                display: flex;
                padding-left: 10%;
            }
        }


    }

    .telefonos {

        justify-content: center;
        display: flex;
        flex-direction: column;


        .titulo_telefono {
            color: white;

            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            margin: 20px;
            margin-left: 35px;

        }

        .conte_telefono {
            display: none;



        }
    }

}


@media  only screen and (max-width: 768px) {
    
footer {
    margin-top: none;
    width: 100%;
    height: 1000px;
    background-color: black;
    display: flex;
    flex-direction: column;

    .tres {
        height: 34%;
        width: 100%;
        background-color: #033346;


        .tit {
            display: flex;
            width: 100%;
            height: 20%;
            justify-content: center;
            align-items: center;


            .letra {
                display: flex;
                width: 90%;
                height: 72%;
                border-bottom: 1px solid white;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        .contenedor-cuadrado {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2%;

            .lugar {
                width: 80%;
                height: 13%;
                color: white;
                font-size: 10px;
                display: flex;
                align-items: center;
                border: solid 1px white;


                .iconos {
                    height: 100%;
                    width: 17%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .contenedor-telefono {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;

            .mitad {
                width: 100%;
                height: 35%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: wheat;
                padding-top: 5%;
            }

            .telefono {
                width: 34%;
                height: 77%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .info_tel {
                    text-align: center;
                }
            }

            span {

                font-size: 38px;
                justify-content: center;
                display: flex;
                color: white;
            }

            div {
                margin-right: 5%;
                font-size: 12px;
                margin-top: 15px;
                justify-content: center;
                display: flex;
                color: white;
                text-align: center;
            }
        }

        .contenedor-nosotros {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .urbana {
                width: 80%;
                height: 20%;
                color: white;
                display: flex;
                font-size: 23px;
            }

            .nosotros {
                width: 100%;
                height: 20%;
                color: white;
                display: flex;
                padding-left: 10%;
            }
        }


    }

    .telefonos {

        justify-content: center;
        display: flex;
        flex-direction: column;


        .titulo_telefono {
            color: white;

            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            margin: 20px;
            margin-left: 35px;

        }

        .conte_telefono {
            display: none;



        }
    }

}
}