* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
.sombra {
  box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.5);
}
body{
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .barra{
        background-color: #4692a097;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        padding: 1em;
        z-index: 2;
        position: relative;
        border-radius: 154px 154px 154px 154px;
        -moz-border-radius: 154px 154px 154px 154px;
        -webkit-border-radius: 154px 154px 154px 154px;
        border: 0px solid #000000;
        padding-right: 3%;
    }

    .fa-regular, .far{
        font-weight: 400;
        color: white;
        font-size: 23px;
    }
    
    .fa-solid, .fas {
        font-weight: 900;
        color: white;
        font-size: 20px;
    }

    .casa{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100px;
        gap: 20%;
    }
}
.tit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.contenedor{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
        width: 90%;
        height: 100%;
        background-color:#4692a097;
        display: flex;
        justify-content: center;
        align-items: center;

            .img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        
        
    }
}



@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


* {
  transition: all 0.3s ease-out;
}



.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .nose{
    height: 100%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 19px 19px;
  }
}

h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;

  &.small {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  width: 300px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 63%;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 45px;
    width: 47px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.card1:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }

  .fa-solid, .fas{
    font-weight: 1000;
    transition: all 0.3s ease-out;
    color: rgb(255, 255, 255);
  }

}

.card2 {
  display: block;
    top: 0px;
    position: relative;
    width: 163px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    height: 246px;
    border-radius: 19px;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}


.card{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .icono{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: solid 2px black;

        .fa-solid, .fas {
            font-weight: 1000;
            font-size: 60px;
            color: black;
        }
    }
}

.container_user {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    
  .card2 {
    display: block;
    top: 0px;
    position: relative;
    width: 500px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    height: 40%;
    border-radius: 19px;

    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: white;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #00838d;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }

    &:hover:before {
      transform: scale(2.15);
    }
  }
  .iconos{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 70px;
  }
  
}

@media (max-width: 480px) {
  body{
    width: 100%;
    height: 100%;
  }
.container_user {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    
  .card2 {
    display: block;
    top: 0px;
    position: relative;
    width: 92%;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    height: 40%;
    border-radius: 19px;

    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: white;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #00838d;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }

    &:hover:before {
      transform: scale(2.15);
    }
  }
  .iconos{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 70px;
  }
  
}

}