:root {
    --color-1--: #39B7CD;
    --color-2--: #34A6BA;
    --color-3--: #3284B1;
    --color-4--: #2F62A8;
    --color-5--: #033346;
    --color-6--: #3CBF7C;
    --color-7--: #3EC62B;
    --color-8--: #7ED957;
    --color-9--: #60D050;
    --headerH: 100px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

.scroll-y {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}



.altura-max {
    max-height: calc(100vh - var(--headerH));
}


.slider-frame li {
    /* height: 100%; */
    aspect-ratio: 16 / 9 !important;
}

.sombra {
    box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.5);
}

body {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    position: relative;
    overflow-x: hidden !important;
    background-size: cover;
    background-position: center;
}

.mas {
    display: none;
}

.conducir {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.contenedor-imagen .img {
    /* width: 100%; */
    object-fit: cover;
    /* height: 90%; */
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.tablon {
    width: 100%;
    height: 50%;
    display: flex;
}

header .logo {
    margin-left: 10px;
    width: 55px;
    height: 55px;
}

header .logo .img {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: auto;
}

main .title {
    background-color: #3284B1;
    width: 100%;
    height: 5%;
}

main .color_arriba {
    position: relative;
    bottom: -15px;
    z-index: 2;
}

main .color_abajo {
    position: relative;
    top: -75px;
    z-index: 2;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #033346;
    font-weight: bold;
    text-align: center;
}

.btn {
    padding: 1em;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #033346;
}

.menuUser {
    position: absolute;
    top: -100%;
    left: 2em;
    height: 135px;
    transition: all 1s ease;
    z-index: 0;
    background-color: white;
    padding: .5em;
    width: 50%;
    text-align: center;
}

.menuUser li {
    padding: 3%;
}

.menuUser li a {
    color: #000000;
}

.mostrar {
    border-radius: 27px;
    top: 7em;
    left: 25%;
    text-align: center;
    z-index: 1;
}

.icono_s {
    color: rgb(0, 0, 0);
    font-size: 35px;
}

.cont_titulo {
    width: 100%;
    height: 258px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-frame {
    width: 92%;
    aspect-ratio: 16 / 9 !important;
    overflow: hidden;
    border-radius: 17px;


    .img {
        /* height: 24vh; */
        object-fit: cover;
        background-size: cover;
    }

}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    /* flex: 0 0 50%;  para dar ancho al elemento  si tengo un padre en display flex*/
    height: 100%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
}

.imagen_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 350px;
}

.imagen_titulo .img {
    width: 100%;
    height: 300px;
    border-radius: 50px 0px 0px 50px;
}

.descripcion_titulo {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.descripcion_titulo .titulo_mini {
    margin-top: 2%;
    width: 100%;
    height: 20%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 600;
}

.descripcion_titulo .descripcion_mini {
    width: 100%;
    height: 40%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.descripcion_titulo .LeerMas {
    background-color: #2f61a835;
    position: absolute;
    top: 70%;
    left: 230px;
    width: 100px;
    height: 15%;
    color: white;
    border: 2px solid var(--color-2--);
    border-radius: 0px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--color-2--);
    transition: ease-out 0.5s;
}

.descripcion_titulo .LeerMas:hover {
    box-shadow: inset 600px 0 0 0 var(--color-1--);
    color: white;
}

.fondo_barra {
    position: relative;
    width: 100%;
    height: 30%;
}

.fondo_barra img {
    width: 100%;
    height: 100%;
}

.fondo_barra .barra {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.fondo_barra .barra .contenedor_articulo {
    width: 70px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fondo_barra .barra .contenedor_articulo .titulo_articulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
}

.fondo_barra .barra .contenedor_articulo .articulo {
    width: 70px;
    height: 70px;
    border: solid 1px #39B7CD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7ED957;
}

.consultas {
    width: 100%;
    height: 412px;
    text-align: center;
}

.consultas .titulo_consulta {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consultas .titulo_consulta .contenedor_consulta {
    width: 70%;
    height: 56%;
    font-size: 30px;
    border-bottom: 2px solid rgb(34, 90, 196);
}

.consultas .linkConsulta {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consultas .linkConsulta .conte {
    width: 90%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-radius: 17px;
}

.consultas .linkConsulta .cont_consulta {
    width: 40%;
    height: 50px;
    color: var(--color-5--);
    border: 2px solid var(--color-5--);
    border-radius: 0px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--color-2--);
    transition: ease-out 0.5s;
}

.consultas .linkConsulta .cont_consulta:hover {
    box-shadow: inset 600px 0 0 0 var(--color-1--);
    color: white;
}

.novedad {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.novedad .carta_novedad {
    width: 85%;
    height: 180px;
    display: flex;
    background-color: white;
    border-radius: 19px;
}

.novedad .carta_novedad .foto {
    width: 40%;
    height: 100%;
}

.novedad .carta_novedad .foto .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 19px;
}

.novedad .carta_novedad .novedad_texto {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .novedad_titulo {
        padding: 10px;
        font-size: 20px;
        width: 100%;
        height: 38%;
    }

    .novedad_leer {
        padding-left: 10%;
        width: 100%;
        height: 30%;
        color: #39B7CD;
        font-size: 1rem;
    }

}

.novedad_info {
    width: 100%;
    height: 34%;
    padding: 10px;
    color: gray;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventos {
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titulo_even {
        font-style: italic;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;


    }

    .button {

        width: 30%;
        font-size: 20px;
        position: relative;
        padding: 24px 64px;
        border-radius: 100vw;
        background-color: transparent;
        font-family: 'Playfair Display', serif;
        color: #fafafa;
        border: solid 1px rgba(#fafafa 0.3);
        overflow: hidden;
        cursor: pointer;
        transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
        display: flex;
        justify-content: center;
        align-items: center;

        .button-text {
            position: relative;
            z-index: 2;
            color: black;
        }

        .fill-container {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
            transform: translateY(-50%) rotate(180deg);


            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-2--);
                border-radius: 50%;
                transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
                transform: translateY(-100%);
            }
        }

        &:hover {
            border-color: var(--color-2--);
            transform: translateY(-4px);

            .fill-container {
                transform: translateY(-50%) rotate(0);

                &::after {
                    transform: translateY(0);
                }
            }
        }

        a {
            color: black;
        }
    }

    .calen {
        font-size: 70px;
    }
}

.portal-img {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .por {
        width: 90%;
        height: 100%;


        .img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 19px;
        }

        body:before {
            content: '';
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }

        button {
            background: #1AAB8A;
            color: #fff;
            border: none;
            position: relative;
            height: 19px;
            padding: 0 2em;
            cursor: pointer;
            transition: 800ms ease all;
            outline: none;
            top: -28px;
            width: 107px;
            left: 132px;
            font-size: 6px;
        }

        button:hover {
            background: #fff;
            color: #1AAB8A;
        }

        button:before,
        button:after {
            content: '';
            position: absolute;
            top: 61px;
            right: 0px;
            height: 2px;
            width: 0;
            background: #1AAB8A;
            transition: 400ms ease all;
        }

        button:after {
            right: inherit;
            top: 0px;
            left: 0;
            bottom: 0;
        }

        button:hover:before,
        button:hover:after {
            width: 100%;
            transition: 800ms ease all;
        }
    }
}

a{
    color: white;
}


@media (orientation: landscape) {

    body {
        background-color: white;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5627b4", endColorstr="#39b7cd", GradientType=1);

    }

    .conducir {
        width: 100%;
        height: 30vh;
        background-color: #34A6BA;
        display: flex;
        justify-content: center;
        align-items: center;

        .contenedor-imagen {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            .img {
                background-size: cover;
                width: 100%;
                object-fit: cover;

            }
        }
    }

    header {
        width: 100%;
        height: var(--headerH);
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;



        .barra {
            background-color: #94bbc2;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 95%;
            padding: 1em;
            z-index: 2;
            position: relative;
            border-radius: 154px 154px 154px 154px;
            -moz-border-radius: 154px 154px 154px 154px;
            -webkit-border-radius: 154px 154px 154px 154px;
            border: 0px solid #000000;
            padding-right: 3%;
        }

        .logo {
            margin-left: 10px;
            width: 55px;
            height: 55px;

            .img {
                width: 100%;
                height: 100%;
            }

        }
    }

    main {
        width: 100%;
        height: auto;

        .title {
            background-color: #3284B1;
            width: 100%;
            height: 5%;

        }

        .color_arriba {
            position: relative;
            bottom: -15px;
            z-index: 2;
        }

        .color_abajo {
            position: relative;
            top: -75px;
            z-index: 2;
        }

    }

    .pa {
        position: absolute;
    }

    .pr {
        position: relative;
    }


    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #033346;
        font-weight: bold;
        text-align: center;


    }

    .btn {
        padding: 1em;
        background: none;
        border: none;
        font-size: 20px;
        font-weight: bold;
        color: #033346;
    }

    .menuUser {

        position: absolute;
        top: -100%;
        left: 2em;
        height: 135px;
        transition: all 1s ease;
        z-index: 0;
        background-color: white;
        padding: .5em;
        width: 50%;
        text-decoration: none;
        color: #000000;
        text-align: center;

        li {
            padding: 3%;

            a {
                color: #000000;
            }
        }

    }

    .mostrar {
        border-radius: 27px 27px 27px 27px;
        -moz-border-radius: 27px 27px 27px 27px;
        -webkit-border-radius: 27px 27px 27px 27px;
        border: 0px solid #000000;
        top: 7em;
        left: 25%;
        text-decoration: none;
        color: black;
        text-align: center;
        z-index: 1;
    }

    .icono_s {
        color: rgb(0, 0, 0);
        font-size: 35px;
    }

    .cont_titulo {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        .slider-frame {
            width: 92%;
            height: 89%;
            overflow: hidden;
            border-radius: 17px;
            overflow: hidden;


            .img {
                height: 445px;
                object-fit: cover;

            }

        }

        .slider-frame ul {
            display: flex;
            padding: 0;
            width: 400%;

            animation: slide 20s infinite alternate ease-in-out;
        }

        .slider-frame li {
            width: 100%;
            height: 100%;
            list-style: none;
        }

        .slider-frame img {
            width: 100%;
            object-fit: cover;
        }

        /* .titulo{
     
            border-radius: 50px 50px 50px 50px;
            -moz-border-radius: 50px 50px 50px 50px;
            -webkit-border-radius: 50px 50px 50px 50px;
            border: 0px solid #000000;
            background-image:none;
            width: 90%;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center; */
        .imagen_titulo {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 45%;
            height: 350px;
            object-fit: cover;

            .img {
                width: 100%;
                height: 300px;
                border-radius: 50px 0px 0px 50px;
                -moz-border-radius: 50px 0px 0px 50px;
                -webkit-border-radius: 50px 0px 0px 50px;
                border: 0px solid #000000;
            }

            /* .imagen_redonda{
                    width: 7rem;
                    height: 7rem;
                    border: solid 3px #033346;
                    border-radius: 50%;
                    overflow: hidden;
                   
                } */
        }

        .descripcion_titulo {
            width: 60%;
            height: 100%;
            filter: blur(0px);

            flex-direction: row;

            .titulo_mini {
                margin-top: 2%;
                width: 100%;
                height: 20%;
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                font-weight: 600;

            }

            .descripcion_mini {
                width: 100%;
                height: 40%;

                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 300;
            }

            .LeerMas {
                background-color: #2f61a835;
                position: absolute;
                top: 70%;
                left: 230px;
                width: 100px;
                height: 15%;
                color: white;
                border: 2px solid var(--color-2--);
                border-radius: 0px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 14px;
                letter-spacing: 1px;
                cursor: pointer;
                box-shadow: inset 0 0 0 0 var(--color-2--);
                -webkit-transition: ease-out 0.5s;
                -moz-transition: ease-out 0.5s;
                transition: ease-out 0.5s;
            }

            .LeerMas:hover {
                box-shadow: inset 600px 0 0 0 var(--color-1--);
                color: white
            }
        }

        h2 {
            text-align: center;
            font-size: 2rem;
            padding-top: 50px;
        }


    }

    .fondo_barra {
        position: relative;
        width: 100%;
        height: 30%;

        img {
            width: 100%;
            height: 100%;

        }

        .barra {
            position: absolute;
            top: 100px;
            width: 100%;
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .contenedor_articulo {
                width: 70px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .titulo_articulo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-weight: 500;
                }

                .articulo {
                    width: 70px;
                    height: 70px;
                    border: solid 1px #39B7CD;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #7ED957;

                    .material-symbols-outlined {
                        font-size: 35px;
                        font-weight: 500;
                    }
                }
            }

        }
    }

    .consultas {
        width: 100%;
        height: 412px;
        text-align: center;

        .titulo_consulta {
            color: black;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            .contenedor_consulta {
                width: 40%;
                height: 36%;
                font-size: 30px;
                border-bottom: 2px solid rgb(34, 90, 196);
            }

        }

        .linkConsulta {
            width: 100%;
            height: 35%;
            display: flex;
            justify-content: center;
            align-items: center;

            .conte {
                width: 90%;
                height: 100%;
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5%;
                border-radius: 17px;
            }

            .cont_consulta {
                width: 40%;
                height: 50px;
                color: var(--color-5--);
                border: 2px solid var(--color-5--);
                border-radius: 0px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 14px;
                letter-spacing: 1px;
                cursor: pointer;
                box-shadow: inset 0 0 0 0 var(--color-2--);
                -webkit-transition: ease-out 0.5s;
                -moz-transition: ease-out 0.5s;
                transition: ease-out 0.5s;
            }

            .cont_consulta:hover {
                box-shadow: inset 600px 0 0 0 var(--color-1--);
                color: white
            }
        }
    }

    .mas {
        width: 40%;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding-right: 2%;


        .info {
            width: 89%;
            height: 100%;
            background-color: #fafafa;
            display: flex;
            border-radius: 17px;
            flex-direction: column;

            .imge {
                width: 100%;
                height: 40%;
                background-color: #2F62A8;
                border-radius: 17px;

                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 19px;
                    text-align: center;
                    display: flex;
                }

            }

            .novedad_titulo {
                padding: 10px;
                font-size: 20px;
                width: 100%;
                height: 10%;
            }

            .novedad_leer {
                padding-left: 10%;
                width: 100%;
                height: 30%;
                color: #39B7CD;
                font-size: 1rem;
                display: flex;
                align-items: center;
            }

            .novedad_info {
                width: 100%;
                height: 30%;
                padding: 10px;
                color: gray;
            }
        }
    }

    .novedad {
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: none;



        .carta_novedad {
            width: 85%;
            height: 226px;
            display: flex;
            background-color: white;
            border-radius: 19px;


            .foto {
                width: 40%;
                height: 100%;

                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 19px;
                }
            }

            .novedad_texto {
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .novedad_titulo {
                    padding: 10px;
                    font-size: 20px;
                    width: 100%;
                    height: 20%;
                }

                .novedad_leer {
                    padding-left: 10%;
                    width: 100%;
                    height: 30%;
                    color: #39B7CD;
                    font-size: 1rem;
                }

                .novedad_info {
                    width: 100%;
                    height: 70%;
                    padding: 10px;
                    color: gray;
                }
            }
        }
    }

    .tablon {
        width: 100%;
        height: 750px;
        display: flex;
    }

    .titulo_tablon {
        color: black;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        margin-top: 80px;
        margin-left: 80px;
    }

    .sombra {
        box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.5);
    }

    .contenedor_tarjetas {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        padding-bottom: 75px;

        .tarjeta {
            height: 150px;
            width: 300px;
            display: flex;
            color: black;

            .foto {
                flex: 0 0 150px;
                height: 150px;
            }
        }
    }


    

    .portal-img {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .por {
            width: 90%;
            height: 100%;
            position: relative;



            .img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 19px;
            }

            body:before {
                content: '';
                height: 100%;
                display: inline-block;
                vertical-align: middle;
            }

            .pa-btn {
                height: 100px;
                width: 300px;
                position: absolute;
                right: 30px;
                bottom: 30px;
                display: flex;
                align-items: end;

                    button {
                        background: #1AAB8A;
                        color: #fff;
                        border: none;
                        position: relative;
                        height: 60px;
                        font-size: 0.9em;
                        padding: 0 2em;
                        cursor: pointer;
                        transition: 800ms ease all;
                        outline: none;
                        /* ----ajustarr---------- */
                        bottom: 0;
                        left: 0 !important;
                        /* ----ajustarr---------- */
                        width: 100%;
                    }

                    button:hover {
                        background: #fff;
                        color: #1AAB8A;
                    }

                    button:before,
                    button:after {
                        content: '';
                        position: absolute;
                        top: 61px;
                        right: 0px;
                        height: 2px;
                        width: 0;
                        background: #1AAB8A;
                        transition: 400ms ease all;
                    }

                    button:after {
                        right: inherit;
                        top: 0px;
                        left: 0;
                        bottom: 0;
                    }

                    button:hover:before,
                    button:hover:after {
                        width: 100%;
                        transition: 800ms ease all;
                    }
            }
        }


    }

    .eventos {
        width: 100%;
        height: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titulo_even {
            font-style: italic;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 40px;
            margin: 50px;
            margin-left: 35px;

        }

        .button {

            width: 30%;
            font-size: 30px;
            position: relative;
            padding: 24px 64px;
            border-radius: 100vw;
            background-color: transparent;
            font-family: 'Playfair Display', serif;
            color: #fafafa;
            border: solid 1px rgba(#fafafa 0.3);
            overflow: hidden;
            cursor: pointer;
            transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);


            .button-text {
                position: relative;
                z-index: 2;
                color: black;
            }

            .fill-container {
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                padding-bottom: 100%;
                transform: translateY(-50%) rotate(180deg);


                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--color-2--);
                    border-radius: 50%;
                    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
                    transform: translateY(-100%);
                }
            }

            &:hover {
                border-color: var(--color-2--);
                transform: translateY(-4px);

                .fill-container {
                    transform: translateY(-50%) rotate(0);

                    &::after {
                        transform: translateY(0);
                    }
                }
            }

            a {
                color: black;
            }
        }

        .calen {
            font-size: 70px;
        }
    }
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}